<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body>
     <!-- Menampilkan passing data num -->
     <p> Random Number = <%= num %>
     </p>

     <!-- menampilkan angka ganjil atau genap -->
     <% if (num % 2 === 0) { %>
          <h3>Angka Genap</h3>
     <% } else { %>
          <h3>Angka Ganjil</h3>
     <% } %>

     <!-- Menampilkan angka ganjil genap dengan ternary operator -->
      <h3>Angka diatas adalah : <%= num%2 === 0 ? 'genap' : 'ganjil' %></h3>

<%- include('partials/footer.ejs') %>
